<!DOCTYPE html>
<html>
	<title>Guestbook</title>
	<meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<style>
	body{
		text-align: center;
		font-family: verdana,sans-serif;
	}
	a{
		color: black;
		text-decoration: none;
		padding: 7px;
		border: thin solid black;
	}
	a:hover{
		padding: 7px;
		color: white;
		background-color: black;
		border: thin solid black;
	}
	.card{
		padding: 10px;
		border: thin solid black;
		width:50%;
		margin: 0 auto;
	}
	.card-head{
		font-size: 120%;
	}
	.card-body{
		text-align: left;
	}
	</style>
	<body>
		<div>
			<h1>Express Guestbook</h1>
			<a href="new-entry">Post new entry</a>
		</div>
		<br>
        
